<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*" Header set
  Access-Control-Allow-Methods "GET, POST, OPTIONS" Header set
  Access-Control-Allow-Headers "Origin, Content-Type, X-Auth-Token"
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On RewriteCond %{HTTP:Authorization} . RewriteRule .* -
  [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}] RewriteCond %{REQUEST_FILENAME}
  !-d RewriteCond %{REQUEST_FILENAME} !-f RewriteRule ^ index.php [L]
</IfModule>
