@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "sass:math";

.container {
  @extend %wrap;
  @extend %section;

  .adm-sec-cstmbg {
    border-radius: 30px;
    padding: 30px;
    overflow: hidden;
    background-color: rgba(184, 184, 184, 0.2);
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
